html {
  min-height: 100%;
}

.navbar-header img {
  max-width: auto;
  max-height: 50px;
}

.content {
  min-height:500px;
  margin-top: 50px;
  min-height:100vh;
}

.content p {
  text-align:justify;
}

body {
  color:#000;
  background-color:#E6E6E644;
  min-height:100vh;
  font-size: 16px;
  font-family: Roboto, sans-serif;
}

.subtext {
  color:#4C4C4B;
  margin:12px;
}

body footer {
  color:white;
  background-color: #E6E6E644;
}

/*.carousel-caption, a:link, a:visited, a:hover, a:active {
  color:white;
}*/

.row {
  padding-top:20px;
  padding-bottom:20px;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand, .navbar-inverse .navbar-nav>li>a {
  color:white;
}

.navbar-inverse, .navbar {
  background-color:#272e6f;
  border:none;
  box-shadow: 1px 0px 1px;
}

.container {
}

footer {
  display: flex;
  background-color:#272e6f !important;
  margin-top:50px;
  position:absolute;
  left:0px;
  width: 100%;
}

::placeholder {
  font-style: italic;
}

input[name="search"] {
  font-size: 18px;
  text-align: left;
  padding: 10px;
}

h1, h2, h3 {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

iframe {
  margin:20px;
}

.resultColumn {
  float: left;
  width: 50%;
}

#results:after {
  content: "";
  display: table;
  clear: both;
}

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times; /* make sure ★ appears correctly */
  line-height: 1;
  -webkit-text-stroke: 0.5px #64663e;
}

.Stars::after {
  content: '★★★★★';
  letter-spacing: 3px;
  background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.starContainer {
  --star-size: 14px;
  --star-color: #f7e9d5;
  --star-background: #ffb71c;
  width: 50%;
  display: inline-block;
}

#description {
  background-color:#e0dede;
}

#description a {
  color:#000;
  font-weight:bold;
}

#title {
  font-size: 18px;
}

#headerSearch {
  -ms-transform: translateY(+50%);
  transform: translateY(+50%);
  margin-left:20px;
  border-radius: 2px;
  border: 1px solid #337FED;
  line-height:25px;
  text-indent:5px;
}

.querySuggestion {
  background: #272e6f;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 100;
  padding: 15px;
  margin:5px;
  margin-top:10px;
  margin-bottom:20px;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
}
    
.querySuggestions:hover {
  border: solid #337FED 1px;
  background: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

/* for the flex container on the front page */

#results {
  vertical-align: top;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#results .clipEntry {
  flex-wrap: wrap;
  width: 25%;
  padding: 10px;
}

h4, .frontpageHeader {
  font-weight:bold;
  text-align:justify;
}

/* for category pages */
#header-container {
  position: relative;
  text-align: center;
  color: white;
  text-shadow: 2px 2px #000;
}

#header-container object, #header-container img {
  filter: brightness(70%);
  width:100%;
  height:auto;
  background-color: green;
}

#header-text {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-90%, -50%);
}

.categoryFilter {
  background: #272e6f;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 100;
  padding: 15px;
  margin:5px;
  margin-top:10px;
  margin-bottom:20px;
  border: solid #337FED 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
}
    
.categoryFilter:hover {
  border: solid #337FED 1px;
  background: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);=
  text-decoration: none;
}