html, body {
  height: 100%;
  min-height: 100%;
}

.content {
  min-height:100%;
  margin-top: 50px;
}

.content p {
  text-align:justify;
}

body {
  color:#000;
  background-color: #E6E6E644;
  min-height:800px;
  font-size: 18px;
  font-family: sans-serif;
  position:relative;
}

.subtext {
  color:#4C4C4B;
  margin:15px;
}

body footer {
  color:white;
  background-color: #E6E6E644;
}

/*.carousel-caption, a:link, a:visited, a:hover, a:active {
  color:white;
}*/

.row {
  padding-top:20px;
  padding-bottom:20px;
}

nav {
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand, .navbar-inverse .navbar-nav>li>a {
  color:white;
}

.navbar-inverse, .navbar {
  background-color:#FF3C38;
  border:none;
  box-shadow: 1px 0px 1px;
}

.container {
  min-height:75%;
}

footer {
  background-color:#FF3C38 !important;
  margin-top:50px;
  position:absolute;
  left:0px;
  bottom:0px;
  width: 100%;
  height:100px;
}

::placeholder {
  font-style: italic;
}

input[name="search"] {
  font-size: 18px;
  text-align: left;
  padding: 10px;
}

h1, h2, h3 {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

iframe {
  margin:20px;
}

#results .videoEntry {
  display: inline-block;
  text-overflow: ellipsis;
  flex: 1;
}

#results {
  vertical-align: top;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.resultColumn {
  float: left;
  width: 50%;
}

#results:after {
  content: "";
  display: table;
  clear: both;
}

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);
  
  display: inline-block;
  font-size: var(--star-size);
  font-family: Times; /* make sure ★ appears correctly */
  line-height: 1;
}

.Stars::before {
  content: '★★★★★';
  letter-spacing: 3px;
  background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.starContainer {
  --star-size: 10px;
  --star-color: #fff;
  --star-background: #fc0;
}