<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %} - Clip'd CS:GO</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/customstyle.css">
  <link rel="shortcut icon" type="image/png" href="../static/img/favicon.png">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <meta id="user-id" data-name="{{ current_user.id }}">

  {% block style %}{% endblock %}

</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/"><img style="margin:0px;" src="../static/img/clipdheader.png"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        {% if current_user.is_authenticated %}
          <li><a href="/logout">Logout - {{ current_user.username }}</a></li>
        {% else %}
          <li><a href="/login">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

{% block content %}{% endblock %}

<footer class="container-fluid text-center">
  <p><i>Content curated by Robbie "d1ng" Freeman</i></p>
</footer>

</body>
</html>
