{% extends 'base.html' %}

{% block title %}{{ catTitle }}{% endblock %}

{% block style %}
<style>
  /* Remove the navbar's default margin-bottom and rounded borders */
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }
</style>
{% endblock %}

{% block content %}
<meta id="category" title="{{ catTitle }}" type="{{ catType }}">

<!-- Header image with a label -->
<div id="header-container">
    <object id="header-image" data="" type="image/png">
        <img src="/static/img/headers/placeholder.png">
    </object>
    <div id="header-text"><h1>category</h1></div>
</div>
<script>
    $("#header-image").attr("data", "/static/img/headers/" + $("#category").attr("type") + "/" + $("#category").attr("title") + ".png");
    $("#header-text").html("<h1>" + $("#category").attr("title") + "</h1>");
</script>
<div class="content container text-center">

    <!-- Sorting buttons for below videos -->
  <select class="categoryFilter" type="button" value="s1mple" onclick="populateSearch(this.value)">
    <option value="">Player</option>
  </select>
  <select class="categoryFilter" type="button" value="s1mple" onclick="populateSearch(this.value)">
    <option value="">Map</option>
  </select>
  <select class="categoryFilter" type="button" value="s1mple" onclick="populateSearch(this.value)">
    <option value="">Event</option>
  </select>
  <select class="categoryFilter" type="button" value="s1mple" onclick="populateSearch(this.value)">
    <option value="">Weapon</option>
  </select>
  <select class="categoryFilter" type="button" value="s1mple" onclick="populateSearch(this.value)">
    <option value="">Kills</option>
  </select>
    
    <!-- Load videos of the given category with the given filters -->
  <h4 id="categoryResultHeader" class="frontpageHeader">Clips with </h4><br>
  <script>
      $("#categoryResultHeader").text($("#categoryResultHeader").text() + $("#category").attr("title"))
  </script>
  <div id="results"></div>
  <script src="../static/js/youtube.js"></script>
  <script>
    var previousText = "";
    var uid = $("#user-id").data()["name"];
    if (uid == "") {
      uid = 0;
    }
    $.ajax({
        url: "/search&" + uid,
        type: "get",
        data: {
            jsdata: $("#category").attr("title")
        },
        success: function(response) {
        // put header of results
        console.log("success called");
        var r = response;
        console.log(r);
        $("#results").html("");
        if (r !== undefined && r.hits.length) {
            var clipWidthMargin = calcFrontpageClipMarginW();
            var clipWidth = calcFrontpageClipWidth(clipWidthMargin);
            var clipHeight = calcClipHeight(clipWidth);
            var code, player, event_, ratingButton, v;
            for (var i = 0; i < r.hits.length; i++) {
                v = r.hits[i]
                id = v['objectID'];
                console.log('vCode:', v['Code'])
                code = '<iframe width="560" height="315" src="https://www.youtube.com/embed/' + v['Code'] + '" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>';
                player = v['Player'];
                event_ = v['Event'];

                var thumbnail = generateThumbnailUrl(getCidFromEmbedLink(code), true);

                code = code.replace(/\[\"/g, "");
                code = code.replace(/\"\]/g, "");
                code = code.replace(/\",\"/g, "");
                code = code.replace(/\\\"/g, "\"");
                code = scaleClip(code);
                var $div = $("<div>", {id: i});
                $($div).attr("class", "clipEntry");
                $($div).attr("width", clipWidth);
                $($div).attr("height", clipHeight + 70);
                $($div).attr("margin-left", clipWidthMargin / 2);
                $($div).attr("margin-right", clipWidthMargin / 2);
                $($div).attr("text-align", "center");

                var img = $("<img>");
                $(img).attr("src", thumbnail);
                $($div).html(img);

                var $lildiv = $("<div>", {id: i + "-lil"});
                $($lildiv).attr("width", clipWidth);
                var $a = $("<a>", {href: "/clips/" + id});
                $($lildiv).append("<br>");
                $($a).append("<p style='display:inline-block;'>" + player + "</p>");
                $($a).append("<br>");
                $($a).append("<p style='display:inline-block;'>" + event_ + "</p>");
                $($lildiv).append($a);
                $($lildiv).append("<br>");
                $($lildiv).append("<br>");

                $($div).append($lildiv);
                $(results).append($div);
            }
            
        }
    },
    error: function(xhr) {
        console.log("Error in retrieving search results");
    }
    });
  </script>
</div>

{% endblock %}