{% extends 'base.html' %}

{% block title %}{{ clipTitle }}{% endblock %}

{% block style %}
<style>
  /* Remove the navbar's default margin-bottom and rounded borders */
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }
</style>
{% endblock %}

{% block content %}
<meta id="rating-categories" categories="{{ categories }}">
<meta id="clip-data" data="{{ clipData }}">
<script>console.log("clip-data:" + $("#clip-data").attr("data"));</script>
<meta id="clip-id" cid="-1">
<meta id="clip-code" code="None">
<meta id="clip-code" code="None">
<script>
  var clipData = JSON.parse($("#clip-data").attr("data"));
  $("#clip-id").attr("cid", clipData[0]);
  $("#clip-code").attr("code", clipData[1]);
  $("#clip-grandfinal").attr("gf", clipData[2]);
</script>
<meta id="user-clip-ratings" code="">
<meta id="avg-clip-ratings" code="">

<script src="../static/js/youtube.js"></script>
<div id="clip" class="content container text-center">
    <script>
        var code = $("#clip-code").attr("code");
        code = code.replace('[(\'', '');
        code = code.replace('\',)]', '');
        code = scaleClip(code);
        var player = $("<div>", {id : 'clip-player'});
        var title = $("<div>", {id : 'title'});
        var description = $("<div>", {id : 'description'});
        $(title).append("<p>" +  + "</p>");
        $(player).attr("width", 1200);
        $(player).attr("height", 500);
        $(player).attr("margin-left", 25);
        $(player).attr("margin-right", 25);
        $(player).attr("text-align", "center");
        $(title).append("<p style='display:inline-block;'>" + "player placeholder" + "</p>"); //player
        $(title).append("<p style='display:inline-block;'>" + "event placeholder" + "</p>"); //event_
        $(player).html(code);
        $(player).append(title);
        $(player).append("<br>");
        $("#clip").append(player);
    </script>
    <script>
      var categories = $("#rating-categories").attr('categories');
      categories = categories.substring(1, categories.length - 1);
      categories = categories.replace(/["']/g, "");
      categories = categories.split("],");
      var categoryIds = [];
      var categoryNames = [];
      for (var i = 0; i < categories.length; i++) {
        var categoryTuple = categories[i].replace(/\[/g, '').replace(/]/g, '');
        var id = categoryTuple.split(",")[0].trim();
        categoryIds.push(id);
        var name = categoryTuple.split(",")[1].trim();
        categoryNames.push(name);
      }
      var uid = $("#user-id").data()["name"];
      if (uid == "") {
        uid = 0;
      }
      // append rating buttons to each entry
      var DEFAULT_CATEGORY_RATING = 0.0;
      var ratingsContainer = $("<div>");
      var userRatingsContainer = $("<div>");
      for (var j = 0; j < categoryIds.length; j++) {
          // find a rating for the given categoryId, or give 0
          // TODO
          var categoryId = categoryIds[j];
          var ratingsLabel = $("<p>");
          $(ratingsLabel).html(categoryNames[j]);
          $(userRatingsContainer).attr("class", "starContainer");
          var ratingButton = $("<div>", {id: "stars" + categoryId});
          $(ratingButton).attr("class", "Stars");
          $(ratingButton).attr("value", 5.0);
          $(ratingButton).attr("clipId", $("#clip-data").attr("cid"));
          $(ratingButton).attr("catId", categoryId);
          $(ratingButton).attr("style", "--rating:" + DEFAULT_CATEGORY_RATING + ";");
          $(ratingButton).attr("aria-label", "Rating of this product is 2.3 out of 5.");
          // add button listener
          $(ratingButton).on("click", function(e) {
            // frontend
            leftOffset = $(this).offset().left;
            var xPosition = e.clientX - leftOffset;
            var maxXPosition = $(this).width();
            var rating = xPosition / maxXPosition * 5.0;
            $(this).attr('style', "--rating: " + rating + ";");
            // backend
            console.log("sending rating")
            var url = "/updateRating/" + $(this).attr("clipId") + "&" + uid + "&" + $(this).attr("catId") + "&" + rating;
            $.ajax({
              url: url,
              type: "post",
              data: {jsdata: rating},
              success: function(response) {
                console.log(response);
              },
              error: function(xhr) {
                console.log(xhr);
              }
            });
          });

          $(userRatingsContainer).append(ratingsLabel);
          $(userRatingsContainer).append(ratingButton);
          $(ratingsContainer).append(userRatingsContainer);
        }
        $("#clip").append(ratingsContainer);

        // append average ratings container
        var avgRatingsContainer = $("<div>");
        for (var j = 0; j < categoryIds.length; j++) {
          // find a rating for the given categoryId, or give 0
          var categoryId = categoryIds[j];
          var ratingsLabel = $("<p>");
          $(ratingsLabel).html("Avg " + categoryNames[j]);
          $(avgRatingsContainer).attr("class", "starContainer");
          var ratingButton = $("<div>", {id: "avg-stars" + categoryId});
          $(ratingButton).attr("class", "Stars");
          $(ratingButton).attr("value", 5.0);
          $(ratingButton).attr("clipId", $("#clip-id").attr("cid"));
          $(ratingButton).attr("catId", categoryId);
          $(ratingButton).attr("style", "--rating:" + DEFAULT_CATEGORY_RATING + ";");
          $(ratingButton).attr("aria-label", "Rating of this product is 2.3 out of 5.");

          $(avgRatingsContainer).append(ratingsLabel);
          $(avgRatingsContainer).append(ratingButton);
          $(ratingsContainer).append(avgRatingsContainer);
        }
        $("#clip").append(ratingsContainer);
    </script>
    <script>
      var uid = $("#user-id").data()["name"];
      if (uid == "") {
        uid = 0;
      }
      var ratingInfo = []
      var url = "/clips/" + $("#clip-id").attr("cid") + "/userRatings&" + uid;
        $.ajax({
          url: url,
          type: "post",
          success: function(response) {
            ratingInfo = response;
            // update ratings of any existing ratings
            var categories = $("#rating-categories").attr('categories');
            categories = categories.substring(1, categories.length - 1);
            categories = categories.replace(/["']/g, "");
            categories = categories.split("],");
            var categoryIds = [];
            var categoryNames = [];
            for (var i = 0; i < categories.length; i++) {
              var categoryTuple = categories[i].replace(/\[/g, '').replace(/]/g, '');
              var id = categoryTuple.split(",")[0].trim();
              categoryIds.push(id);
              var name = categoryTuple.split(",")[1].trim();
              categoryNames.push(name);
            }
            for (var j = 0; j < categoryIds.length; j++) {
              // find a rating for the given categoryId, or give 0
              var updatedRating = 0.0;
              for (var k = 0; k < ratingInfo.length; k+=2) {
                if (ratingInfo[k] == categoryIds[j]) {
                  updatedRating = ratingInfo[k+1];
                  break;
                }
              }
              var ratingButton = $("#stars" + categoryIds[j]);
              $(ratingButton).attr("style", "--rating:" + updatedRating + ";");
            }
          },
          error: function(xhr) {
            console.log(xhr);
          }
        });
        var url = "/clips/" + $("#clip-id").attr("cid") + "/avgRatings";
        $.ajax({
          url: url,
          type: "post",
          success: function(response) {
            var avgRatingInfo = response;
            // update ratings of any existing ratings
            var categories = $("#rating-categories").attr('categories');
            categories = categories.substring(1, categories.length - 1);
            categories = categories.replace(/["']/g, "");
            categories = categories.split("],");
            var categoryIds = [];
            var categoryNames = [];
            for (var i = 0; i < categories.length; i++) {
              var categoryTuple = categories[i].replace(/\[/g, '').replace(/]/g, '');
              var id = categoryTuple.split(",")[0].trim();
              categoryIds.push(id);
              var name = categoryTuple.split(",")[1].trim();
              categoryNames.push(name);
            }
            for (var j = 0; j < categoryIds.length; j++) {
              // find a rating for the given categoryId, or give 0
              var updatedRating = 0.0;
              console.log(ratingInfo.length);
              for (var k = 0; k < avgRatingInfo.length; k+=2) {
                console.log(avgRatingInfo[k]);
                if (avgRatingInfo[k] == categoryIds[j]) {
                  updatedRating = avgRatingInfo[k+1];
                  break;
                }
              }
              var ratingButton = $("#avg-stars" + categoryIds[j]);
              $(ratingButton).attr("style", "--rating:" + updatedRating + ";");
            }
            console.log(response);
          },
          error: function(xhr) {
            console.log(xhr);
          }
        });
    </script>
</div>
{% endblock %}