{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block style %}
<style>
  /* Remove the navbar's default margin-bottom and rounded borders */
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
}
</style>
{% endblock %}

{% block content %}
<div class="content container text-center">
  <h1>Search clips</h1><br>
  <div class="search-container">
    <form>
      <input style="width:600px;" type="text" placeholder="ex. s1mple 1v2, best aces" id="search">
    </form>
  </div>
  <br>
  <div id="results">Try searching for something!</div>
  <script src="../static/js/youtube.js"></script>
  <script>
    $("#search").keyup(function() {
      var text = $(this).val();
      if (text.length > 2) {
        $.ajax({
          url: "/suggestions",
          type: "get",
          data: {
            jsdata: text
          },
          success: function(response) {
            r = JSON.stringify(response);
            if (r != "[]") {
              r = r.replace(/\[\"/g, "");
              r = r.replace(/\"\]/g, "");
              r = r.replace(/\",\"/g, "");
              r = r.replace(/\\\"/g, "\"");
              r = scaleVideo(r)
              $("#results").html(r);
            } else {
              $("#results").html("");
            }
          },
          error: function(xhr) {
            console.log("Error in retrieving search results");
          }
        });
      }
    });
  </script>

  {% for l in links %}
  {{ l }}<br>
  {% endfor %}

</div>
{% endblock %}
