{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block style %}
<style>
  /* Remove the navbar's default margin-bottom and rounded borders */
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
}
</style>
{% endblock %}

{% block content %}
<div class="content container text-center">
  <h1>Search clips</h1><br>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <div class="search-container">
    <form>
      <input onkeypress="javascript: return (event.which == 13 ? false : true);console.log(event.which)" style="width:600px;" type="text" placeholder="ex. s1mple 1v2, best aces" id="search">
    </form>
  </div>
  <br>
  <div id="results">Try searching for something!</div>
  <script src="../static/js/youtube.js"></script>
  <script>
    var previousText = ""
      $("#search").keyup(function() {
        var text = $(this).val();
        if (previousText !== text && text.length > 2) {
          console.log("ajax  called");
          $.ajax({
            url: "/search",
            type: "get",
            data: {
              jsdata: text
            },
            success: function(response) {
              console.log("success called");
              var r = response;
              console.log(r);
              $("#results").html("");
              if (r !== undefined && r.length) {
                var videoWidthMargin = calcFrontpageVideoMarginW();
                var videoWidth = calcFrontpageVideoWidth(videoWidthMargin);
                var videoHeight = calcFrontpageVideoHeight(videoWidth);
                var code, player, event_, v;
                for (var i = 0; i < r.length; i++) {
                  v = r[i];
                  code = v[0];
                  player = v[1];
                  event_ = v[2];
                  code = code.replace(/\[\"/g, "");
                  code = code.replace(/\"\]/g, "");
                  code = code.replace(/\",\"/g, "");
                  code = code.replace(/\\\"/g, "\"");
                  code = scaleVideo(code);
                  var $div = $("<div>", {id: i});
                  $($div).attr("class", "video");
                  $($div).attr("width", videoWidth);
                  $($div).attr("height", videoHeight + 70);
                  $($div).attr("margin-left", videoWidthMargin / 2);
                  $($div).attr("margin-right", videoWidthMargin / 2);
                  $($div).attr("text-align", "center");
                  $($div).html(code);
                  var $lildiv = $("<div>", {id: i + "-lil"});
                  $($lildiv).attr("width", videoWidth);
                  var $a = $("<a>", {href: "#"});
                  $($lildiv).append("<br>");
                  $($lildiv).append("<p style='display:inline-block;'>" + player + "</p>");
                  $($lildiv).append("<br>");
                  $($lildiv).append("<p style='display:inline-block;'>" + event_ + "</p>");
                  $($a).append($lildiv);
                  $($div).append($a);
                  $('#results').append($div);
                  console.log("exec");
                }
              }
          },
          error: function(xhr) {
            console.log("Error in retrieving search results");
          }
        });
      }
    });
  </script>

</div>
{% endblock %}
