{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block style %}
<style>
  /* Remove the navbar's default margin-bottom and rounded borders */
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
}
</style>
{% endblock %}

{% block content %}
<meta id="rating-categories" categories="{{ categories }}">
<div class="content container text-center">
  <h1>Search clips</h1><br>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <div class="search-container">
    <form>
      <input onkeypress="javascript: return (event.which == 13 ? false : true);console.log(event.which)" style="width:600px;" type="text" placeholder="ex. s1mple 1v2, best aces" id="search">
    </form>
  </div>
  <br>
  <div id="results">Try searching for something!</div>
  <script src="../static/js/youtube.js"></script>
  <script>
  var previousText = "";
  var categories = $("#rating-categories").attr('categories');
  categories = categories.substring(1, categories.length - 1);
  categories = categories.replace(/["']/g, "");
  categories = categories.split("],");
  var categoryIds = []
  var categoryNames = []
  for (var i = 0; i < categories.length; i++) {
    var categoryTuple = categories[i].replace(/\[/g, '').replace(/]/g, '')
    var id = categoryTuple.split(",")[0].trim();
    categoryIds.push(id);
    var name = categoryTuple.split(",")[1].trim();
    categoryNames.push(name);
  }
  console.log(categories);
  console.log(categoryIds);
  console.log(categoryNames);
  $("#search").keyup(function() {
    var text = $(this).val();
    if (previousText !== text && text.length > 2) {
      console.log("ajax  called");
      $.ajax({
        url: "/search",
        type: "get",
        data: {
          jsdata: text
        },
        success: function(response) {
          console.log("success called");
          var r = response;
          console.log(r);
          $("#results").html("");
          if (r !== undefined && r.length) {
            var videoWidthMargin = calcFrontpageVideoMarginW();
            var videoWidth = calcFrontpageVideoWidth(videoWidthMargin);
            var videoHeight = calcFrontpageVideoHeight(videoWidth);
            var code, player, event_, ratingButton, v;
            /*
            const NUMBER_OF_COLUMNS = 4;
            var cols = []
            for (var i = 0; i < NUMBER_OF_COLUMNS; i++) {
              var col = $("<div>");
              $(col).attr("class", "resultColumn");
              cols.push(col);
            }*/
            for (var i = 0; i < r.length; i++) {
              v = r[i];
              id = v[0];
              code = v[1];
              player = v[2];
              event_ = v[3];
              code = code.replace(/\[\"/g, "");
              code = code.replace(/\"\]/g, "");
              code = code.replace(/\",\"/g, "");
              code = code.replace(/\\\"/g, "\"");
              code = scaleVideo(code);
              var $div = $("<div>", {id: i});
              $($div).attr("class", "videoEntry");
              $($div).attr("width", videoWidth);
              $($div).attr("height", videoHeight + 70);
              $($div).attr("margin-left", videoWidthMargin / 2);
              $($div).attr("margin-right", videoWidthMargin / 2);
              $($div).attr("text-align", "center");
              $($div).html(code);
              var $lildiv = $("<div>", {id: i + "-lil"});
              $($lildiv).attr("width", videoWidth);
              //var $a = $("<a>", {href: "#"});
              $($lildiv).append("<br>");
              $($lildiv).append("<p style='display:inline-block;'>" + player + "</p>");
              $($lildiv).append("<br>");
              $($lildiv).append("<p style='display:inline-block;'>" + event_ + "</p>");
              $($lildiv).append("<br>");
              
              // append rating buttons to each entry
              for (var j = 0; j < categoryIds.length; j++) {
                var categoryId = categoryIds[j];
                var ratingsContainer = $("<div>");
                var ratingsLabel = $("<p>");
                $(ratingsLabel).html(categoryNames[j])
                $(ratingsContainer).attr("class", "starContainer");
                var ratingButton = $("<div>", {id: "stars" + i});
                $(ratingButton).attr("class", "Stars");
                $(ratingButton).attr("value", 5.0);
                $(ratingButton).attr("videoId", id);
                $(ratingButton).attr("catId", categoryId);
                $(ratingButton).attr("style", "--rating: 2.3;");
                $(ratingButton).attr("aria-label", "Rating of this product is 2.3 out of 5.");
                // add button listener
                //$(ratingButton).attr("onclick", "sendRating($(this));");
                $(ratingButton).on("click", function(e) {
                  // frontend
                  leftOffset = $(ratingButton).offset().left;
                  var xPosition = e.clientX - leftOffset;
                  var maxXPosition = $(ratingButton).width();
                  var rating = xPosition / maxXPosition * 5.0;
                  $(this).attr('style', "--rating: " + rating + ";");
                  // backend
                  console.log("sending rating")
                  //var url = "/updateRating/1&1&1&4.5";
                  var uid = $("#user-id").data()["name"];
                  var url = "/updateRating/" + $(this).attr("videoId") + "&" + uid + "&" + $(this).attr("catId") + "&" + rating;
                  $.ajax({
                    url: url,
                    type: "post",
                    data: {jsdata: rating},
                    success: function(response) {
                      console.log(response);
                    },
                    error: function(xhr) {
                      console.log(xhr);
                    }
                  });
                });
                $(ratingsContainer).append(ratingsLabel)
                $(ratingsContainer).append(ratingButton);
                $($lildiv).append(ratingsContainer);
              }

              //$($a).append($lildiv);
              //$($div).append($a);
              $($div).append($lildiv);
              $(results).append($div);
              /*$(cols[i % NUMBER_OF_COLUMNS]).append($div);*/
              console.log("exec");
            }
            /*for (var i = 0; i < NUMBER_OF_COLUMNS; i++) {
              $('#results').append(col[i]);
            }*/
            
          }
      },
      error: function(xhr) {
        console.log("Error in retrieving search results");
      }
    });
    }
  });
  </script>

</div>
{% endblock %}
