{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block style %}
<style>
  /* Remove the navbar's default margin-bottom and rounded borders */
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }
</style>
{% endblock %}

{% block content %}
<div class="content container text-center">
    <form action="{{ url_for('login', next=request.endpoint) }}" method="post">
      {{ loginForm.csrf_token }}
      {{ loginForm.username.label }} {{ loginForm.username(size=20) }}
      <br>
      {{ loginForm.password.label }} {{ loginForm.password(size=20) }}
      <br>
      {{ loginForm.remember_me(value='True')|safe }} {{ loginForm.remember_me.label|safe }}
      <br>
      {{ loginForm.submit(size=20) }}
    </form>
    <br>
    <form action="{{ url_for('signup') }}">
      <input href="/signup" value="First time? Sign up!" type="submit">
  </form>
</div>
{% endblock %}
